<div class="content-blocks blog {{contentBlocksClass}} {{blockClass}}">
    <section class="content">
        <div class="block-content">
            <h3 class="block-title">My Blog</h3>
            <div class="col-md-10 col-md-offset-1">
                <div class="post" *ngFor="let blog of blogSubscription | async">
                    <div class="post-thumbnail">
                        <a class="open-post" >
                            <img alt="" src="{{blog.image}}">
                        </a>
                    </div>
                    <div class="post-title">
                        <a class="open-post" href="post-single.html">
                            <h2>{{blog.title}}</h2>
                        </a>
                        <p class="post-info">
                            <span class="post-author">Posted by Filipe.</span>
                            <span class="slash"></span>
                            <span class="post-date">{{blog.updateTime | amTimeAgo}}</span>
                            <span class="slash"></span>
                            <span class="post-catetory">{{blog.tags}}</span>
                        </p>
                    </div>
                    <div class="post-body">
                        <p>
                            Omnium nominati prodesset pri no. Per dolor gloriatur
                            <span class="selected"> persequer</span>
                            is ad, te his aliquip molestie. Veri tantas ad usu, mel ne sonet quaeque assueverit. Enim eruditi euripidis his et, dictas admodum posidonium ei pro. An duo tempor maluisset honestatis. Ne cum invidunt constituto, sanctus accusam an usu, ea mandamus incorrupte mel. Pro cu purto graeco. Wisi sonet elitr eos in. Est sint magna mucius te, iudico integre gubergren no vis. Assum doming et pro, est ei inermis corpora argumentum. Eos graece sadipscing et, pri dico salutandi consetetur et, explicari voluptatum mei at. Ex cum nisl epicurei, sea in molestie theophrastus, nibh tollit apeirian no vis.
                        </p>
                        <a class="btn open-post" >Read More</a>
                    </div>
                </div>

                <!-- <div class="text-center">
                    <ul class="pagination">
                        <li>
                            <a aria-label="Previous" href="#">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a aria-label="Next" href="#">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </section>
</div>
