<div class="content-blocks portfolio {{contentBlocksClass}} {{blockClass}}">
    <section class="content">
        <div class="block-content">
            <h3 class="block-title">Portfolio</h3>
            <div class="row">
                <div class="col-md-12">
                    <ul id="filters">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".graphic">Graphic</li>
                        <li data-filter=".web">Web</li>
                        <li data-filter=".video">Video</li>
                        <li data-filter=".apps">Apps</li>
                    </ul>
                    <div id="projects">
                        <div class="project graphic apps">
                            <a class="open-project" href="project-1.html">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>Luxury Watch</h4>
                                            <p>Graphic / Apps</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img alt="" src="assets/images/portfolio/1.jpg">
                        </div>
                        <div class="project web apps">
                            <a class="open-project" href="project-2.html">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>Colorful Tees</h4>
                                            <p>Web / Apps</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img alt="" src="assets/images/portfolio/2.jpg">
                        </div>
                        <div class="project graphic video">
                            <a class="open-project" href="project-1.html">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>Coffee Cups</h4>
                                            <p>Graphic / Video</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img alt="" src="assets/images/portfolio/3.jpg">
                        </div>
                        <div class="project graphic">
                            <a class="open-project" href="project-1.html">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>Stationary Branding</h4>
                                            <p>Web</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img alt="" src="assets/images/portfolio/4.jpg">
                        </div>
                        <div class="project web video">
                            <a class="open-project" href="project-2.html">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>Typewriter</h4>
                                            <p>Graphic / Video</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img alt="" src="assets/images/portfolio/5.jpg">
                        </div>
                        <div class="project apps web">
                            <a class="open-project" href="project-1.html">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>Magazine Cover</h4>
                                            <p>Web / Apps</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img alt="" src="assets/images/portfolio/6.jpg">
                        </div>
                        <div class="project video web">
                            <a class="open-project" href="project-1.html">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>An Ipad</h4>
                                            <p>Video / Web</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img alt="" src="assets/images/portfolio/7.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h4>Interested in working together?</h4>
                    <a class="btn lowercase">hello@james.com</a>
                    <br>
                </div>
            </div>
        </div>
    </section>
</div>
