<div class="content-blocks about hidex">
    <section id="about" class="content">
        <div class="block-content">
            <h3 class="block-title">Profile</h3>
            <div class="row">
                <div class="col-md-7">
                    <p>Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    <p>Sed ut perspiciatis unde omnis iste natus errorsit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    <img class="sign" alt="" src="assets/images/signature.png">
                </div>
                <div class="col-md-5">
                    <ul class="info-list">
                        <li>
                            <strong>Name : </strong>
                            Filipe Mota de Sá
                        </li>
                        <li>
                            <strong>Date of birth : </strong>
                            July 19, 1985
                        </li>
                        <li>
                            <strong>Address : </strong>
                            Praceta Gastão Ferreira nº4 - 2770-073, Oeiras, Portugal
                        </li>
                        <li>
                            <strong>Email : </strong>
                            pihh@rocks.com
                        </li>
                        <li>
                            <strong>Phone : </strong>
                            + 351 919 373 033
                        </li>
                        <li>
                            <strong>Skype : </strong>
                            Filipe.sa
                        </li>
                        <li>
                            <strong>Interests : </strong>
                            Web Development, Problem Solving, Nature , Open air festivals, Open air techno partys, Sports, Healthy lifestyle
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-content ">
            <h3 class="block-title">Skills</h3>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Technical Skills</h4>
                    <label class="progress-bar-label">
                        Laravel -
                        <span>4 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" style="width: 85%;">
                            <span>85%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        AngularJS -
                        <span>3 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="69" role="progressbar" style="width: 75%;">
                            <span>75%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        Bootstrap  -
                        <span>4 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="69" role="progressbar" style="width: 75%;">
                            <span>75%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        HTML&CSS -
                        <span>7+ years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="99" role="progressbar" style="width: 99%;">
                            <span>99%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        MYSQL -
                        <span>7+ years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="99" role="progressbar" style="width: 75%;">
                            <span>75%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        Javascript -
                        <span>6 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 75%;">
                            <span>75%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        PHP -
                        <span>7 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 85%;">
                            <span>85%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        Npm , Bower, Gulp, Elixir -
                        <span>3 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 85%;">
                            <span>85%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        CoffeeScript , Typescript -
                        <span>1.5 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 35%;">
                            <span>35%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        Less , Sass -
                        <span>2 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 50%;">
                            <span>50%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        Node Js + mongodb -
                        <span>No experience but anxiously waiting for a project to try what I learned in the course</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 25%;">
                            <span>25%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        GIT -
                        <span>2 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 50%;">
                            <span>50%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        Vagrant + Phuppet -
                        <span>2 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 50%;">
                            <span>50%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">
                        Wordpress -
                        <span>4 years experience</span>
                    </label>
                    <div class="progress">
                        <div class="progress-bar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" role="progressbar" style="width: 50%;">
                            <span>50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>Know-how + Good Practices</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="icon-list">
                                <li>Tools & programming language choice for each project</li>
                                <li>Lazy Coder ( I think before I act to save time and efforts )</li>
                                <li>DRY Principle</li>
                                <li>KISS Principle</li>
                                <li>Performance Aware (code style, limit server hits , memory usage tests..)</li>
                                <li>Secure Code</li>
                                <li>Portability ( avoid hardcoded environmental parameters ) </li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="icon-list">
                                <li>OOP Whenever I Can</li>
                                <li>Design Patterns (Coding)</li>
                                <li>MVC Design Pattern (designed my own mvc framework)</li>
                                <li>Semantic HTML</li>
                                <li>Rich Snippet Usage</li>
                                <li>Comments & Documentation</li>
                                <li>Code Grouping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content ">
            <h3 class="block-title">Experience</h3>
            <div class="timeline experience">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>WebDesigner – Mutation Media </h4>
                                    <h5>
                                        Feb 2015 -
                                        <span class="current">Current</span>
                                    </h5>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>Web Developer – Mutation Media </h4>
                                    <h5>Sept 2015 - Nov 2015</h5>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>SDK Developer – Mutation Media </h4>
                                    <h5>May 2015 - Sept 2015</h5>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">Education</h3>
            <div class="timeline education">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>Bachelor Degree – Mutation Media </h4>
                                    <h5>Mar 2015 - May 2015</h5>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>Master Degree – Mutation Media </h4>
                                    <h5>Sept 2015 - Nov 2015</h5>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>School Of Science – Mutation Media </h4>
                                    <h5>May 2015 - Sept 2015</h5>
                                </div>
                                <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">Courses</h3>
            <div class="row">
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-pencil"></i>
                    </div>
                    <h4>Javascript + web apps</h4>
                    <p>
                        Building Mobile Apps With the Ionic Framework and AngularJS
                    </p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-building"></i>
                    </div>
                    <h4>PHP</h4>
                    <p>Certified Secure Coder PHP</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-image"></i>
                    </div>
                    <h4>HTML5 CSS3</h4>
                    <p>Learn Bootstrap Development By Building 10 Projects</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>Javascript (NodeJS)</h4>
                    <p>Learn Nodejs by building 10 projects</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-image"></i>
                    </div>
                    <h4>Javasctipt /Typescript</h4>
                    <p>Compreensive Typescript</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>Git</h4>
                    <p>Learning Git - A Beginners Git Course From Infinite Skills</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>Javascript</h4>
                    <p>JavaScript: Understanding the Weird Parts</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>Javascript</h4>
                    <p>Javascript Design Patterns</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>PHP (Laravel)</h4>
                    <p>Build a CMS with Laravel</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>PHP (Laravel)</h4>
                    <p>Build a eCommerce with Laravel</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>Asp + Javascript</h4>
                    <p>Build a social network from scratch</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>AngularJS + Ionic</h4>
                    <p>Ionic by example</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>Javascript ( AngularJs )</h4>
                    <p>Learn and understand AngularJS</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>MySQL</h4>
                    <p>Database Design</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>PHP</h4>
                    <p>Design Patterns Through PHP</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>AngularJs</h4>
                    <p>Angular Application Development</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>AngularJS + Typescript</h4>
                    <p>Angular 2 Jumpstart with typescript (ongoing)</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>PHP</h4>
                    <p>Create your own PHP MVC Framework</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>Linux CLI</h4>
                    <p>Linux comand line essentials</p>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-print"></i>
                    </div>
                    <h4>NodeJs</h4>
                    <p>Learn and understand NodeJS</p>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">Prizes</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-3 awards">
                        <img alt="" src="assets/images/awards/1.jpg">
                    </div>
                    <div class="col-sm-3 awards">
                        <img alt="" src="assets/images/awards/2.jpg">
                    </div>
                    <div class="col-sm-3 awards">
                        <img alt="" src="assets/images/awards/3.jpg">
                    </div>
                    <div class="col-sm-3 awards">
                        <img alt="" src="assets/images/awards/5.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="block-content">
            <h3 class="block-title">Testimonials</h3>
            <div class="row">
                <div class="col-md-12">
                    <ul class="testimonials">
                        <li>
                            <img alt="" src="assets/images/testimonials/1.jpg">
                            <blockquote>
                                This template is exactly what we were looking for!
                                <p class="quote">
                                    <span>Brendon Rodgers</span>
                                    - CEO of xyz.com
                                </p>
                            </blockquote>
                        </li>
                        <li>
                            <img alt="" src="assets/images/testimonials/2.jpg">
                            <blockquote>
                                This template is very nice! Great work
                                <p class="quote">
                                    <span>Becky Allwood</span>
                                    - CEO of abc.com
                                </p>
                            </blockquote>
                        </li>
                        <li>
                            <img alt="" src="assets/images/testimonials/3.jpg">
                            <blockquote>
                                My work has been significantly simplified.
                                <p class="quote">
                                    <span>Elly Page</span>
                                    - CEO of nfl.com
                                </p>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12 btn-email">
                    <a class="btn lowercase">hello@james.com</a>
                    <br>
                    <small>I am available for freelance</small>
                </div>
            </div>
        </div>-->
    </section>
</div>
