<div class="content-blocks contact {{contentBlocksClass}} {{blockClass}}">
    <section class="content">
        <div class="block-content">
            <h3 class="block-title">Get in touch</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-content ">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-details">
                            <h5>Address</h5>
                            <div #gmap style="width:100%; height:277px"></div>
                        </div>
                    </div>
                    <div class="contact-content ">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h5>Call Me</h5>
                            <p> {{profile.phone}}</p>
                        </div>
                    </div>
                    <div class="contact-content ">
                        <div class="contact-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="contact-details">
                            <h5>Enquiries</h5>
                            <p> {{profile.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form id="formcontactus" class="" onsubmit="event.preventDefault();">
                        <div class="form-group">
                            <input class="form-control requiretop" type="text" placeholder="* Your Name" name="name" [(ngModel)]="name">
                        </div>
                        <div class="form-group">
                            <input class="form-control requiretop" type="email" placeholder="* Your Email" name="email" [(ngModel)]="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control requiretop" placeholder="* Your Message" name="message" rows="6" [(ngModel)]="body"></textarea>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-dark selected" href="mailto:{{email}}?subject={{name}}&body={{body}}">Send Message</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
