<div class="name-block">
    <div class="name-block-container">
        <h1>
            <span>Hi, I'm</span>
            Filipe Sá
        </h1>
        <h2>Developer</h2>
        <a class="btn btn-download">Download Resume</a>
        <ul class="social">
            <li>
                <a href="https://www.facebook.com/pihhhhh">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <!--<li>-->
                <!--<a href="">-->
                    <!--<i class="fa fa-twitter"></i>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="https://www.linkedin.com/in/filipe-s%C3%A1-a04bb666?trk=nav_responsive_tab_profile">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
