<div class="name-block">
    <div class="name-block-container">
        <h1>
            <span>Hi, I'm</span>
            {{name}}
        </h1>
        <h2>{{profession}}</h2>
        <a class="btn btn-download">Download Resume</a>
        <ul class="social">
            <li>
                <a href="{{facebook}}" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="{{linkedin}}" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
